.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.book {
  border: 1px solid #ddd;
  padding: 16px;
  width: 200px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.book img {
  width: 100%;
  height: auto;
}

.book-info {
  text-align: left;
}

.book-info h2 {
  font-size: 18px;
  margin: 10px 0;
}

.book-info p {
  margin: 4px 0;
  font-size: 14px;
}

.book.read {
  border-bottom: solid 7px green;
}

.book.inprogress {
  border-bottom: solid 7px orange;
}

.book.notread {
  border-bottom: solid 7px gray;
}
